@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-responsive img-thumbnail" src="@Url.Content("~/Image/pener.gif")" />
</div>

<div class="row">
    <div class="col-md-4">
       <h2>Mua điện máy? Đến Quyết Tiến ngay</h2>
    </div>
</div>